$forestgreen: #567D04;
$outdoorsgreen: #7E9757;
$info: $forestgreen;
$warning: $outdoorsgreen;

@import '~bulma/bulma.sass';
@import 'bulma';

@font-face {
  font-family: rift-soft;
  src: url("/assets/fonts/rift/Rift Soft Light.otf") format("opentype"),
}

@font-face {
  font-family: effra;
  src: url("/assets/fonts/effra/Effra Regular.ttf") format("truetype"),
    
}
// General 
html,
body, button {
font-family: 'Jost', sans-serif;
}


body {
  display: flex;
  min-height: 82vh;
  flex-direction: column;
}

p {
  color: black
}


@media only screen and (min-width: 1301px) {
.content {
  padding: 2% 10% 2% 10%;

}}

@media only screen and (max-width: 1300px) {
  .content {
    padding: 2% 2% 2% 2%;

  }
}

.back-button {
  position: absolute;
  font-size: 22px;
  padding-left: 6px;
  padding-top: 3px;
  border: none;
  background: none;
}

.back-button :hover {
  cursor: pointer;
  transition: all 0.1s;
    color: grey;
}

.back-button-subtitle {
  color: grey;
    font-size:small;
    margin-top: -5px;
}

#button:hover {
  transition: all 0.1s;
  color: black;
}

#fontawesome-styling {
  color: black
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}





// 

// Navbar
.navbar {
  min-height: 10vh;
  background-color: $outdoorsgreen;
  color: white 
}

.navbar-menu {
  background-color: $outdoorsgreen;
  color: blue;
}

.navbar-menu :hover {
  
  text-decoration: none;
}



#navbar-item:hover {
  transition: all 0.1s;
  color:black
}

#navbar-item:focus  {
  color: black;
 
}

#navbar-item:active {
  color: black;
}

.navbar button:focus-visible {
  background-color: transparent;
}

.navbar-item {
  color: white
}

.navbar-item img {
  display: flex;
  padding-top: 0px;
  max-height: fit-content;
  height: 60px
}

#navbar-title {
  display: block;
      text-align: center;
      color: white;
      max-height: 10vh;
      background-color: $outdoorsgreen;
      text-transform: uppercase;
      letter-spacing: 12px;
      font-weight: 100;
        font-size: 24px;
        font-family: rift-soft;
      
    } span {
          color: black
        }


// Title-hero
.title-hero {
  min-height: 7vh;
  text-align: center;
  color: white;
  background-color: $outdoorsgreen;
  text-transform: uppercase;
  letter-spacing: 18px;
  font-weight: 100;
  font-size: 50px;
  font-family: rift-soft;
} 


// Hero

// to fix hero navbar section
.tabs:not(:last-child),
.pagination:not(:last-child),
.message:not(:last-child),
.level:not(:last-child),
.breadcrumb:not(:last-child),
.block:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.progress:not(:last-child),
.notification:not(:last-child),
.content:not(:last-child),
.box:not(:last-child) {
  margin-bottom: 0rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 73vh;
}

.hero.is-success .title {
  color: black
}

.hero-background {
  background-image: url(../assets/images/demo2.jpeg);
  background-position: 0px -170px ;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns .button {
  margin-top: 20px;
  margin-bottom: 5vh;
  height: 6vw;
  width: 25vw ;
  padding: 40px;
  font-size: 25px;
  // border: 2px solid darkgreen;
}

.hero-text-over-photo {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 10px;
  padding-bottom: 28vh;
  font-size: 32px;
  color: $outdoorsgreen
}
// About

.title {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: $outdoorsgreen;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}

#read-more {
  color: rgb(74, 74, 74);
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

#read-more:hover {
  transition: all 0.1s;
  color: grey;
}

#mediator-card {
  min-height: 82vh
}

// #mediator-card:hover {
//   box-shadow: 0 0 20px 1px grey;
//   transition: all .1s ease-in-out;

// } 

#about-image {
  border-radius: 0.25rem;
}

// Mediator

#mediator-contact-info {
  text-decoration: none;
}



#mediator-contact-info:hover {
  color: #0000EE (blue)
}

.mediator-text {
  font-size:1.25rem ;
  color: black
}

#mediator-image {
  margin-top: 15px;
  margin-left: 10px;
  // background-color: $outdoorsgreen;
  
}

.mediator-image {
  
  border-radius: 0.25rem;
}

.mediator-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 140px;
    width: 100%;
  
    img {
      display: block;
      max-width: 100%;
      margin: 0 10;
      padding: 0 10px 0 10px
    }
  
}

// Footer

.footer {
  color: white;
  min-height: 10vh;
  background-color: $outdoorsgreen;
} 



.footer-group {
 
  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-image-1 {
  height: 140px;
  width: 100%;
  max-width: 640px;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.copyright {
  span {
   
    color: #808591;
    font-size: 0.9rem;
  }
}

// 


// FAQ's

#faq-card {
  height: 35vh;
  
}

#faq-card button {
  height: 25vh;
  
}

#faq-title {
  overflow: hidden;
    white-space: nowrap;
}

#youtube-div {
  height: 20vh;
  width: auto

}

.faq-button {
  font-size: 22px;
  padding-left: 6px;
  padding-top: 3px;
  border: none;
  background: none;
}

.faq-button :hover {
  cursor: pointer;
  transition: all 0.1s;
  color: grey;
}

.faq-button-subtitle {
  color: grey;
  font-size: smaller;
}

// Useful Links

#links-text {
  font-size: 1.25rem;
  color: black
}
// Animations

.fadeInOnLoad {
  animation: fadeIn 1s ease backwards;
  animation-delay: .5s;
}

@keyframes fadeIn {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.fadeInOnLoad2 {
  animation: fadeIn2 1.5s ease backwards;
  animation-delay: .8s;
}

@keyframes fadeIn2 {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}